@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';
body {
  font-family: 'Delius', sans-serif;
}
.coda-regular {
  font-family: "Coda", system-ui;
  font-weight: 400;
  font-style: normal;
}

.coda-extrabold {
  font-family: "Coda", system-ui;
  font-weight: 800;
  font-style: normal;
}


/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik Mono One', sans-serif;
} */

.small {
  font-weight: 300;
  font-style: italic;
}

a {
  text-decoration: none !important;
}